#body
{
    font-size: 0.6em;
}
#bloc_page
{
    width: 40%;
    height: 100vh;
    max-width: 900px;
}

#bloc_blanc
{
    height: 100vh;
    display: flex;
    flex-direction:disabled;
    flex-wrap: wrap;    
}

h1
{
    font-size: 4em ;
}

#aside
{
    background-color: #009688 ;
}