#body
{
    font-size: 0.6em;
}
#bloc_page
{
    width: 50%;
}

#bloc_blanc
{
    display: flex;
    flex-direction:disabled;
    flex-wrap: wrap;    
}

h1
{
    font-size: 4em ;
}

#aside
{
    background-color: #009688 ;
}